.movies {
  &__pagination {
    .page-number {
      &.active {
        background-color: theme("colors.emerald.400");
        color: theme("colors.white");
        border-radius: 4px;
      }
    }
  }
}
