@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./typography.css"; */
/* @import "./styles.scss"; */

@layer components {
  .navbar__link {
    @apply hover:text-gray-900 transition font-medium;
  }

  .swiper-navigation-btn {
    @apply absolute top-0 z-10 bg-gray-900 h-[348px] opacity-90 w-14 flex justify-center items-center;
  }
}

@layer utilities {
  .placeholder-medium::placeholder {
    @apply font-medium;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

:root {
  --bg-color: #f7f7f8;
  --light-bg-color: #fdfdfd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
