@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./typography.css"; */
/* @import "./styles.scss"; */

@layer components {
  .navbar__link {
    @apply hover:text-gray-900 transition font-medium;
  }

  .swiper-navigation-btn {
    @apply absolute z-10 bg-green-500 h-16 w-10 flex justify-center items-center rounded shadow-xl transform -translate-y-1/2 cursor-pointer group-hover:hidden opacity-0 pointer-events-none transition duration-300 hover:bg-green-600;
  }
}

@layer utilities {
  .placeholder-medium::placeholder {
    @apply font-medium;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

:root {
  --bg-color: #f7f7f8;
  --light-bg-color: #fdfdfd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
