@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";
/* @import "./styles.scss"; */
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Inter, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  font-family: Helvetica Neue, sans-serif;
}

.navbar {
  /* font-family: "Inter", sans-serif; */
}
