@mixin key_frame($name: "default_anim", $duration: 1s, $count: infinite) {
  @keyframes default_anim {
    100% {
      transform: translateX(100%);
    }
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
}

.navbar {
  //   font-family: "Inter", sans-serif;
  //   display: none;

  &__title-link {
    // font-family: var(--main-font);
    font-weight: 700;
  }

  &__search-bar,
  &__nav {
    // font-family: var(--main-font);
  }
}

.category {
  &__title-bg {
    // transform: translateY(calc(-50% - 15px));
    top: calc(50% - 5px);
  }

  &__myswiper .swiper-wrapper {
    // margin-left: calc(100% - 50px);
    // width: calc(100% - 50px);
    // margin-right: calc(100% - 50px);
    padding-top: 45px;
  }

  &__myswiper .swiper-navigation-btn {
    // top: calc(50% - 48px);
    top: calc(50% - 3px);
  }

  &__myswiper > .swiper-pagination {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    height: 24px;
  }

  &__myswiper {
    /* change the size of the bullet and active color */

    .swiper-pagination-bullet {
      background-color: theme("colors.green.500");
      display: inline-block;
      width: 2.5rem;
      height: 2.5px;
      border-radius: 4px;
    }

    // .swiper-navigation-wrapper {

    // }

    &:hover {
      .swiper-navigation-wrapper {
        // display: none;

        .swiper-navigation-btn {
          pointer-events: all;
          opacity: 1;

          &:hover svg {
            transform: scale(1.25);
          }
        }
      }
    }

    /* change color of next 2 bullets in sequence to white*/

    .swiper-pagination-bullet-active-next,
    .swiper-pagination-bullet-active-next-next {
      background-color: white;
    }

    .swiper-pagination-bullet-active-prev {
      background-color: white;
    }
  }

  &__effect-zoe figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(
      top,
      rgba(72, 76, 97, 0) 0%,
      rgba(0, 0, 0, 0.8) 75%
    );
    background: linear-gradient(
      to bottom,
      rgba(72, 76, 97, 0) 0%,
      rgba(0, 0, 0, 0.8) 75%
    );
    content: "";
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  &__effect-zoe figcaption::before,
  &__description {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }

  &__description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    color: #fff;
  }

  &__swiperslide:hover figcaption::before,
  &__swiperslide:hover &__description {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.detail {
  &__image-wrapper {
    // perspective: 1px;
  }
  //   &__banner-bg-shape {
  //     width: 500px;
  //     rect {
  //       width: 500px;
  //     }
  //   }
}

.trailer {
  &__banners {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      z-index: 5;
    }
  }
}

.results {
  &__detail {
    // max-width: 60%;
  }

  &__photo {
    position: relative;
    background: theme("colors.gray.300");
    border-radius: 0.5rem;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
      );
      // animation: shimmer 2s infinite;
      @include key_frame();
    }
  }
}

.download {
  z-index: 101;
}

@media (max-width: 1280px) {
  .category {
    &__myswiper {
      .swiper-wrapper {
        padding-bottom: 90px;
      }
      .swiper-navigation-wrapper {
        // display: none;

        .swiper-navigation-btn {
          pointer-events: all;
          opacity: 1;
          top: calc(100% - 50px);
          box-shadow: none;
          height: 50px;
        }

        .swiper-navigation-prev {
          left: calc(100% - 135px);
        }
      }
    }

    &__movie-date {
      font-size: 14px;
    }

    &__movie-title {
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__title-text {
      font-size: 2.8rem;
    }
  }

  .navbarSm {
    &__link {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
  .navbar {
    &__title-bg-shape {
      svg {
        transform: scale(0.75);
      }
    }
  }
  .category {
    &__movie-title {
      font-size: 1.15rem;
    }
    &__myswiper {
      .swiper-wrapper {
        padding-bottom: 70px;
      }
    }

    &__content-bg-shape {
      top: 0;
    }

    &__swiperslide:hover figcaption::before,
    &__swiperslide:hover &__description {
      opacity: 0;
      // -webkit-transform: translate3d(0, 0, 0);
      // transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 50%, 0);
      transform: translate3d(0, 50%, 0);
    }

    // figcaption::before,
    // &__description {
    //   opacity: 1;
    //   -webkit-transform: translate3d(0, 0, 0);
    //   transform: translate3d(0, 0, 0);
    // }
  }

  .detail {
    &__banner-bg-shape {
      transform: translate(-50%, -50%) scale(0.8);
      &:nth-child(2n) {
        transform: translate(-50%, -50%) scaleX(-1) scale(0.8);
      }
    }

    &__poster {
      width: 300px;
      height: 475px;
    }
  }

  .trailer {
    &__title {
      .category-title-wrapper span {
        margin-bottom: -5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__title-text {
      font-size: 2.5rem;
    }
  }

  .category {
    &__myswiper {
      .swiper-wrapper {
        padding-bottom: 60px;
      }
    }

    &__title-bg {
      transform: translateY(-50%) scale(0.9);
    }

    // &__content-bg-shape {
    //   transform: scale(1.1);
    // }
  }

  .detail {
    &__poster {
      height: 400px !important;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__title-text {
      font-size: 2.3rem;
    }
  }

  .category {
    &__myswiper > .swiper-pagination {
      text-align: center;
    }

    &__content-bg-shape {
      display: none;
    }
  }

  .detail {
    &__resolution-text {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
