@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.navbar__link {
		@apply hover:text-gray-900 transition font-medium;

		&.active {
			@apply text-emerald hover:text-emerald;
		}
	}

	.swiper-navigation-btn {
		@apply absolute z-10 bg-emerald h-16 w-10 flex justify-center items-center rounded shadow-xl transform -translate-y-1/2 top-1/2 cursor-pointer group-hover:shadow transition duration-300 hover:bg-emerald;
	}
}

@layer utilities {
	.placeholder-medium::placeholder {
		@apply font-medium;
	}
}

@mixin key_frame($name: "default_anim", $duration: 1s, $count: infinite) {
	@keyframes default_anim {
		100% {
			transform: translateX(100%);
		}
	}

	animation-name: $name;
	animation-duration: $duration;
	animation-iteration-count: $count;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--bg-color);
}

body.portal-open {
	position: relative;
	overflow: hidden;
}

body.portal-open::after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	background: theme("colors.gray.800");
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 999;
}

:root {
	--bg-color: #f7f7f8;
	--light-bg-color: #fdfdfd;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.section-wrapper {
	width: 1167px;
	max-width: 1167px;
	margin-left: auto;
	margin-right: auto;
}

.detail-wrapper {
	width: 1026px;
	max-width: 1026px;
}

@import "./typography.css";
@import "./movies";

.navbar {
	//   font-family: "Inter", sans-serif;
	//   display: none;

	&__title-link {
		// font-family: var(--main-font);
		font-weight: 700;
	}

	&__search-bar,
	&__nav {
		// font-family: var(--main-font);
	}
}

.category {
	&__title-bg {
		// transform: translateY(calc(-50% - 15px));
		top: calc(50% - 5px);
	}

	&__swiper {
		&:hover {
			.swiper-navigation-wrapper {
				// display: none;

				.swiper-navigation-btn {
					// pointer-events: all;
					// opacity: 1;

					&:hover svg {
						transform: scale(1.25);
					}
				}
			}
		}
	}

	&__myswiper .swiper-wrapper {
		// margin-left: calc(100% - 50px);
		// width: calc(100% - 50px);
		// margin-right: calc(100% - 50px);
		padding-top: 45px;
	}

	&__myswiper .swiper-navigation-btn {
		// top: calc(50% - 48px);
		top: calc(50% - 3px);
	}

	&__myswiper > .swiper-pagination {
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
		height: 24px;
	}

	&__myswiper {
		/* change the size of the bullet and active color */

		.swiper-pagination-bullet {
			background-color: theme("colors.emerald");
			display: inline-block;
			width: 2.5rem;
			height: 2.5px;
			border-radius: 4px;
		}

		// .swiper-navigation-wrapper {

		// }

		/* change color of next 2 bullets in sequence to white*/

		.swiper-pagination-bullet-active-next,
		.swiper-pagination-bullet-active-next-next {
			background-color: white;
		}

		.swiper-pagination-bullet-active-prev {
			background-color: white;
		}
	}

	&__effect-zoe figcaption::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -webkit-linear-gradient(
			top,
			rgba(72, 76, 97, 0) 0%,
			rgba(0, 0, 0, 0.8) 75%
		);
		background: linear-gradient(
			to bottom,
			rgba(72, 76, 97, 0) 0%,
			rgba(0, 0, 0, 0.8) 75%
		);
		content: "";
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0);
	}

	&__effect-zoe figcaption::before,
	&__description {
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}

	&__description {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1.5em;
		width: 100%;
		opacity: 0;
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
		color: #fff;
	}

	&__link-wrapper:hover figcaption::before,
	&__link-wrapper:hover &__description {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.detail {
	&__image-wrapper {
		// perspective: 1px;
	}
	//   &__banner-bg-shape {
	//     width: 500px;
	//     rect {
	//       width: 500px;
	//     }
	//   }
}

.trailer {
	&__banners {
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
			z-index: 5;
		}
	}
}

.results {
	&__detail {
		// max-width: 60%;
	}

	&__photo {
		position: relative;
		background: theme("colors.gray.300");
		border-radius: 0.5rem;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transform: translateX(-100%);
			background-image: linear-gradient(
				90deg,
				rgba(#fff, 0) 0,
				rgba(#fff, 0.2) 20%,
				rgba(#fff, 0.5) 60%,
				rgba(#fff, 0)
			);
			// animation: shimmer 2s infinite;
			@include key_frame();
		}
	}
}

.download {
	z-index: 9999;
}

@media (max-width: 1280px) {
	.section-wrapper {
		width: 90%;
		max-width: 90%;
	}

	.detail-wrapper {
		width: 80%;
		max-width: 80%;
	}
	.category {
		&__myswiper {
			&:hover {
				.swiper-navigation-wrapper {
					// display: none;

					.swiper-navigation-btn {
						&:hover svg {
							transform: scale(1);
						}
					}
				}
			}
			.swiper-wrapper {
				// padding-bottom: 90px;
			}
			.swiper-navigation-wrapper {
				// display: none;

				.swiper-navigation-btn {
					pointer-events: all;
					opacity: 1;
					// top: calc(100% - 50px);
					top: 50%;
					transform: translateY(calc(-50% - 20px));
					box-shadow: none;
					height: 50px;
					background: var(--bg-color);

					svg {
						stroke: theme("colors.emerald");
					}

					// &:hover svg {
					//   transform: scale(1);
					// }
				}

				// .swiper-navigation-prev {
				//   left: calc(100% - 135px);
				// }
			}
		}

		&__movie-date {
			font-size: 14px;
		}

		&__movie-title {
			font-size: 1.2rem;
		}
	}
}

@media (max-width: 1024px) {
	.header {
		&__title-text {
			font-size: 2.8rem;
		}
	}

	.navbar {
		transition: transform 400ms;
		z-index: 99;
		position: fixed;
		top: 0;
		left: 0%;
		width: 100%;

		&__title-bg-shape {
			svg {
				transform: scale(0.75);
			}
		}

		&.hide {
			transform: translateY(-100%);
		}

		&.show {
			transform: translateY(0%);
		}
	}

	.navbarSm {
		&__link {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}

	.category {
		&__movie-title {
			font-size: 1.15rem;
		}
		&__myswiper {
			.swiper-wrapper {
				// padding-bottom: 70px;
			}
		}

		&__content-bg-shape {
			top: 0;
		}

		&__swiperslide:hover figcaption::before,
		&__swiperslide:hover &__description {
			opacity: 0;
			// -webkit-transform: translate3d(0, 0, 0);
			// transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 50%, 0);
			transform: translate3d(0, 50%, 0);
		}

		// figcaption::before,
		// &__description {
		//   opacity: 1;
		//   -webkit-transform: translate3d(0, 0, 0);
		//   transform: translate3d(0, 0, 0);
		// }
	}

	.detail {
		&__banner-bg-shape {
			transform: translate(-50%, -50%) scale(0.8);
			&:nth-child(2n) {
				transform: translate(-50%, -50%) scaleX(-1) scale(0.8);
			}
		}

		&__poster {
			width: 300px;
			height: 475px;
		}
	}

	.trailer {
		&__title {
			.category-title-wrapper span {
				margin-bottom: -5px;
			}
		}
	}
}

@media (max-width: 768px) {
	.detail-wrapper {
		width: 90%;
		max-width: 90%;
	}
	.header {
		&__title-text {
			font-size: 2.5rem;
		}
	}

	.category {
		&__myswiper {
			.swiper-wrapper {
				// padding-bottom: 60px;
			}
		}

		&__title-bg {
			transform: translateY(-50%) scale(0.9);
		}

		// &__content-bg-shape {
		//   transform: scale(1.1);
		// }
	}

	.detail {
		&__banner-bg-shape {
			transform: translate(-50%, -50%) scale(1);
			&:nth-child(2n) {
				transform: translate(-50%, -50%) scaleX(-1) scale(1);
			}
		}
		&__poster {
			height: 400px !important;
		}
	}
}

@media (max-width: 600px) {
	.header {
		&__title-text {
			font-size: 2.3rem;
		}
	}

	.category {
		&__myswiper > .swiper-pagination {
			text-align: center;
		}

		&__myswiper .swiper-pagination-bullet {
			width: 2.35rem;
		}

		&__content-bg-shape {
			display: none;
		}
	}

	.detail {
		&__banner-bg-shape {
			transform: translate(-50%, -50%) scale(0.9);
			&:nth-child(2n) {
				transform: translate(-50%, -50%) scaleX(-1) scale(0.9);
			}
		}
		&__resolution-text {
			&:first-child {
				margin-left: 0;
			}
		}
	}

	.footer {
		&__bg svg {
			height: 6rem !important;
		}
	}
}

@media (max-width: 480px) {
	.category {
		// display: inline;
		&__title-bg {
			transform: translateY(-50%) scale(0.7);
		}

		&__myswiper {
			.swiper-pagination-bullet {
				width: 2rem;
			}
		}
	}

	.detail {
		&__resolution-text {
			&:first-child {
				margin-left: 0.5rem;
			}
		}
	}

	.footer {
		&__bg svg {
			height: 5.2rem !important;
		}
	}
}

@media (max-width: 420px) {
	.header {
		margin-top: calc(2.5rem + 120px);
		&__title-text {
			font-size: 2.1rem;
		}
	}

	.navbar {
		.navbarSm {
			height: 3rem;
		}
	}

	.detail {
		// display: none;
		margin-top: calc(2.5rem + 100px);
		&__image-wrapper {
			width: 95%;
		}

		&__summary {
			font-size: 1rem;
		}
	}

	.category {
		&__swiper {
			margin-top: 2rem;
		}
		&__myswiper .swiper-pagination-bullet {
			width: 1rem;
		}
	}

	.movies {
		&__coming-soon {
			height: calc(100vh - 120px);
			margin-top: 120px;
		}
	}
}

@media (max-width: 360px) {
	.header {
		margin-bottom: 3.5rem;
	}
	.navbarSm__link {
		svg {
			width: 1.3rem;
			height: 1.3rem;
		}
	}

	.detail {
		&__title {
			font-size: 1.65rem;
		}

		&__image-wrapper {
			height: 475px;
		}
	}

	.category {
		&__title-text {
			font-size: 1.35rem;
		}

		&__movie-title {
			font-size: 1rem;
		}

		.swiper-container {
			overflow: initial;
		}

		&__movie-canvas {
			height: 300px;
		}

		.swiper-container-horizontal
			> .swiper-pagination-bullets
			.swiper-pagination-bullet {
			margin: 0 2px;
		}

		&__myswiper {
			width: 65%;

			.swiper-slide {
				a {
					display: block;
					width: 90%;
					margin: 0 auto;
				}
			}

			.swiper-navigation-wrapper .swiper-navigation-btn {
				transform: translateY(-50%);
				top: 46%;
				box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
					0 2px 4px -1px rgba(0, 0, 0, 0.06);
			}

			.swiper-navigation-next {
				right: calc(0px - 35px);
			}

			.swiper-navigation-prev {
				left: calc(0px - 35px);
				right: 0;
			}

			.swiper-pagination-bullet {
				width: 5px;
				height: 5px;
				border-radius: 25px;
			}
		}
	}

	.footer {
		&__content {
			height: 3rem;
		}
	}
}

@media (max-width: 320px) {
	.category {
		&__movie-canvas {
			height: 275px;
			img {
				object-fit: fill !important;
			}
		}
	}

	.detail {
		&__image-wrapper {
			height: 425px;
		}
	}

	.movies {
		&__coming-soon {
			.content {
				h1 {
					font-size: 1.25rem;
					line-height: 1.75rem;
				}
			}
		}
	}
}

@media (max-width: 280px) {
	.category {
		&__movie-canvas {
			height: 265px;
		}
	}
}
