@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../public/static/utils/inter-webfont/inter-regular-webfont.eot"); /* IE9 Compat Modes */
  src: url("../public/static/utils/inter-webfont/inter-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/static/utils/inter-webfont/inter-regular-webfont.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/static/utils/inter-webfont/inter-regular-webfont.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Inter";
  font-weight: 500;

  src: url("../public/static/utils/inter-webfont/inter-semibold-webfont.eot"); /* IE9 Compat Modes */
  src: url("../public/static/utils/inter-webfont/inter-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/static/utils/inter-webfont/inter-semibold-webfont.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/static/utils/inter-webfont/inter-semibold-webfont.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Inter";
  font-weight: 700;

  src: url("../public/static/utils/inter-webfont/inter-bold-webfont.eot"); /* IE9 Compat Modes */
  src: url("../public/static/utils/inter-webfont/inter-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/static/utils/inter-webfont/inter-bold-webfont.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/static/utils/inter-webfont/inter-bold-webfont.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Work Sans";
  font-weight: 400;

  src: url("../public/static/utils/worksans-webfont/worksans-regular-webfont.eot"); /* IE9 Compat Modes */
  src: url("../public/static/utils/worksans-webfont/worksans-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/static/utils/worksans-webfont/worksans-regular-webfont.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/static/utils/worksans-webfont/worksans-regular-webfont.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Work Sans";
  font-weight: 500;

  src: url("../public/static/utils/worksans-webfont/worksans-semibold-webfont.eot");
  src: url("../public/static/utils/worksans-webfont/worksans-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../public/static/utils/worksans-webfont/worksans-semibold-webfont.woff")
      format("woff"),
    url("../public/static/utils/worksans-webfont/worksans-semibold-webfont.ttf")
      format("truetype");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 700;

  src: url("../public/static/utils/worksans-webfont/worksans-bold-webfont.eot"); /* IE9 Compat Modes */
  src: url("../public/static/utils/worksans-webfont/worksans-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/static/utils/worksans-webfont/worksans-bold-webfont.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/static/utils/worksans-webfont/worksans-bold-webfont.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
